<!DOCTYPE html>
<html lang="en">
  <head>

    <title>TO DO - lists</title>
    <% include ./partials/_head %>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
  <nav class="nav-container">
    <a href="/profile">profile</a>
    <% include ./partials/_nav %>
  </nav>

    <main>
      <div class="lists-grid">

        <form class="new-to-do" autocomplete="off">
          <input type="text" name="to-do" class="input" placeholder="What do you want to do...">
          <input type="submit" class="button" value="ADD IT">
        </form>

        <div class="eat">
          <div class="list-title">EAT</div>
          <div class="list-items" id="eat">
<!-- to be rendered in jQuery -->
<!-- end of jQ -->
          </div>
        </div>


        <div class="watch">
          <div class="list-title">WATCH</div>
          <div class="list-items" id="watch">
            <!-- list-item goes here -->
          </div>
        </div>

        <div class="read">
          <div class="list-title">READ</div>
          <div class="list-items" id="read">
            <!-- list-item goes here -->
          </div>
        </div>

        <div class="buy">
          <div class="list-title">BUY</div>
          <div class="list-items" id="buy">
            <!-- list-item goes here -->
          </div>
        </div>

        <div class="uncat">
          <div class="list-title">UNCAT</div>
          <div class="list-items" id="uncat">
            <!-- list-item goes here -->
          </div>
        </div>

        <div class="finished">
          <div class="list-title">finished</div>
          <div class="list-items" id="finished">
            <!-- list-item goes here -->
          </div>
        </div>

      </div>
    </main>

    <footer>© 2019</footer>



    <!-- JS files to support Bootstrap. Leave here. Leave in this order. This may not work as I have removed BS's jQuery link (bc it was breaking ajax) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
