<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <!-- External CSS (bootstrap). Do not move. Should be first of all linked stylesheets. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Internal CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- Internal, custom CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Internal JS. Shouldn't jQuery be a CDN link? -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- Meta tag for Bootstrap's @media queries. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <header>
      <nav class="nav-container">
        <button class="nav-profile-btn">profile</button>
        <span class="nav-greeting">Hello User!</span>
        <button class="nav-logout-btn">logout</button>
      </nav>
    </header>

    <main>
      <div class="lists-grid">

        <form class="new-to-do">
          <input type="text" name="to-do" class="input" placeholder="What do you want to do...">
          <input type="submit" class="button" value="ADD IT">
        </form>

        <div class="eat">
          <div class="list-title">EAT</div>
          <div class="list-items" id="eat">
<!-- to be rendered in jQuery -->
            <div class="list-item">
              <span class="check">√</span>
              <span class="list-text">THIS ONE</span>
              <span id="test" class="options">
                <span class="icon">&</span>
                <div class="drop-down">
                  <div class="eat-option drop-item">EAT</div>
                  <div class="watch-option drop-item">WATCH</div>
                  <div class="read-option drop-item">READ</div>
                  <div class="buy-option drop-item">BUY</div>
                  <div class="delete-option drop-item">DELETE</div>
                </div>
              </span>
            </div>

            <div class="list-item">
              <span class="check">√</span>
              <span class="list-text">test</span>
              <span class="options">&</span>
            </div>
            <div class="list-item">
              <span class="check">√</span>
              <span class="list-text">test</span>
              <span class="options">&</span>
            </div>
            <div class="list-item">
              <span class="check">√</span>
              <span class="list-text">test</span>
              <span class="options">&</span>
            </div>
<!-- end of jQ -->
          </div>
        </div>


        <div class="watch">
          <div class="list-title">WATCH</div>
          <div class="list-items" id="watch">
            <!-- list-item goes here -->
          </div>
        </div>

        <div class="read">
          <div class="list-title">READ</div>
          <div class="list-items" id="read">
            <!-- list-item goes here -->
          </div>
        </div>

        <div class="buy">
          <div class="list-title">BUY</div>
          <div class="list-items" id="buy">
            <!-- list-item goes here -->
          </div>
        </div>

        <div class="uncat">
          <div class="list-title">UNCAT</div>
          <div class="list-items" id="uncat">
            <!-- list-item goes here -->
          </div>
        </div>

        <div class="finished">
          <div class="list-title">finished</div>
          <div class="list-items" id="finished">
            <!-- list-item goes here -->
          </div>
        </div>

      </div>
    </main>

    <footer>© 2019</footer>



    <!-- JS files to support Bootstrap. Leave here. Leave in this order. This may not work as I have removed BS's jQuery link (bc it was breaking ajax) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
