<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <!-- External CSS (bootstrap). Do not move. Should be first of all linked stylesheets. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Internal CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- Internal, custom CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Internal JS. Shouldn't jQuery be a CDN link? -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/profile.js"></script>

    <!-- Meta tag for Bootstrap's @media queries. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <header>
      <nav class="nav-container">
        <a href="/profile">profile</a>
        <span class="nav-greeting">Hello User!</span>
        <button class="nav-logout-btn">logout</button>
      </nav>
    </header>

    <main>
    <div>PROFILE PAGE</div>
    <div class="lists-grid">
      <div class="eat">
        <div class="profile-title">YOUR USER INFO</div>
        <form class="user-info">
          <input type="text" name="name" class="input" placeholder="your name"> <br>
          <input type="text" name="email" class="input" placeholder="your email">
          <input type="submit" class="button" value="Update Info">
        </form>
        <div><a href="/">Go Home</a></div>
      </div>


    </div>
    </main>

    <footer>© 2019</footer>
