<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TO DO - profile</title>
    <% include ./partials/_head %>
  </head>

  <body>

    <% include ./partials/_nav %>


    <main>
    <div>PROFILE PAGE</div>
    <div class="lists-grid">
      <div class="eat">
        <div class="profile-title">YOUR USER INFO</div>
        <form class="user-info">
          <input type="text" name="name" class="input" placeholder="your name"> <br>
          <input type="text" name="email" class="input" placeholder="your email">
          <input type="submit" class="button" value="Update Info">
        </form>
        <div><a href="/">Go Home</a></div>
      </div>


    </div>
    </main>

    <footer>© 2019</footer>
