<!DOCTYPE html>
<html lang="en">
  <head>

    <title>TO DO - profile</title>
    <% include ./partials/_head %>
    <script type="text/javascript" src="/scripts/profile.js"></script>

  </head>

  <body>

    <% include ./partials/_nav %>


    <main>
    <div>PROFILE PAGE</div>
      <div class="profile-title">YOUR USER INFO</div>
      <div class="profile-holder">
        <!-- toggle between form and user info -->
      </div>
      <div><a href="/">Go Home</a></div>
    </main>

    <footer>© 2019</footer>
