<!DOCTYPE html>
<html lang="en">
  <head>

    <title>SMART CAT - welcome</title>
    <% include ./partials/_head %>
    <script type="text/javascript" src="/scripts/welcome.js"></script>

  </head>

  <body>
    <nav class="nav-container">
      <span class="nav-greeting">Welcome to SMART CAT</span>
    </nav>

    <main>

    <div class="profile-grid">
      <div class="profile-holder">
        <div class="profile-title">LOG IN / REGISTER</div>
        <div class="profile-flexbox">
          <form class="new-user">
            <input type="text" name="name" class="input" placeholder="your name"> <br>
            <input type="text" name="email" class="input" placeholder="your email"> <br>
            <input type="password" name="password" class="input" placeholder="password">
            <input type="submit" class="button" value="Register">
          </form>
          <div class="watch">
            <form class="login-form">
              <input type="text" name="email" class="input" placeholder="your email"> <br>
              <input type="password" name="password" class="input" placeholder="password">
              <input type="submit" class="button" value="Login!">
            </form>
          </div>
        </div>
      </div>

    </div>
    </main>

    <footer>© 2019</footer>
