<!DOCTYPE html>
<html lang="en">
  <head>

    <title>SMART CAT - welcome</title>
    <% include ./partials/_head %>
    <script type="text/javascript" src="/scripts/welcome.js"></script>

  </head>

  <body>
    <header>
      <nav class="nav-container">
        <h2 class="nav-greeting">Welcome! Meet SmartCat!</h2>
      </nav>
    </header>

    <main>

    <div class="lists-grid">
      <div class="eat">
        <div class="profile-title">Please enter your info Below</div>
        <form class="new-user">
          <input type="text" name="name" class="input" placeholder="your name"> <br>
          <input type="text" name="email" class="input" placeholder="your email"> <br>
          <input type="password" name="password" class="input" placeholder="password">
          <input type="submit" class="button" value="Register">
        </form>
      </div>
      <div class="watch">
        <div class="profile-title">Login Here</div>
        <form class="login-form">
          <input type="text" name="email" class="input" placeholder="your email"> <br>
          <input type="password" name="password" class="input" placeholder="password">
          <input type="submit" class="button" value="Login!">
        </form>
      </div>
    </div>
    </main>

    <footer>© 2019</footer>
