.grid-container{
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 3fr 3fr 1fr;
  grid-template-columns: auto;
  grid-template-areas:
    ". . . ."
    ". new new ."
    ". eat watch ."
    ". read buy ."
    ". uncat done ."
    ". . . .";
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  > *:not(.new-to-do) {
    border: 1px black solid;
    border-radius: 5px;
    background-color: white;
  }
  form.new-to-do {
    grid-area: new;
    display: flex;
    justify-content: center;
    > * {
      margin: 0 10px;
      border-radius: 5px;
    }
  }
  .list-title {
    text-align: center;
    border-bottom: 1px solid black;
  }
  .eat {
    grid-area: eat;
  }

  .watch {
    grid-area: watch;
  }

  .read {
    grid-area: read;
  }

  .buy {
    grid-area: buy;
  }

  .uncat {
    grid-area: uncat;
  }

  .done {
    grid-area: done;
  }
}
