
.list-title {
  text-align: center;
  border-bottom: 2px solid black;
}

.list-items {
  height: $box-height; /*120px;*/
  overflow: auto;
  .list-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 0 10px;
    .check {
    }
    .list-text {
      overflow: hidden;
      max-width: 60%;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .options {
    }
  }
  .priority {
    background-color: $lime;
  }
}
.drop-down {
  display: none;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: 10px;
  left: 120px;
  overflow: hidden;
  :hover:not(.eat-option .watch-option .read-option .buy-option) {
    cursor: pointer;
    background-color: #7E685A;
    color: white;
  }
  :hover:not(.delete-option) {
    cursor: pointer;
    background-color: #C2B9B0;
    color: black;
  }
  > * {
    padding: 0 5px;
  }
  .delete-option {
    border-top: 1px solid black;
  }
}
