.lists-grid {
  display: grid;
  grid-template-rows: 15px 30px repeat(3, 150px);
  grid-template-columns: auto repeat(2, 200px) auto;
  grid-template-areas:
    ". . . ."
    ". new new ."
    ". eat watch ."
    ". read buy ."
    ". uncat finished ."
    ". . . .";
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  > *:not(.new-to-do) {
    border: 2px $pink solid;
    /*border-radius: 5px;*/
    background-color: white;
    position: relative; /* needed for drop down menu position */
  }
/* .new-to-do imported from partial */
  .eat {
    grid-area: eat;
  }
  .watch {
    grid-area: watch;
  }
  .read {
    grid-area: read;
  }
  .buy {
    grid-area: buy;
  }
  .uncat {
    grid-area: uncat;
  }
  .finished {
    grid-area: finished;
  }
}
@import 'list-items';
@import 'input-field';
