nav.nav-container {
  top: 0;
  position: fixed;
  height: $nav-height;
  width: 100%;
  background-color: rgba(231, 113, 125, 0.8);
  padding: 10px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .nav-profile-btn {
    flex: 1;
  }
  .nav-greeting {
    flex: 10;
    text-align: center;
    font-size: xx-large;
    color: rgb(83, 59, 112);
  }
  .nav-logout-btn {
    flex: 1;
  }
}
