.nav-container {
  display: flex;
  background-color: #E7717D;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  .nav-profile-btn {
    flex: 1;
  }
  .nav-greeting {
    flex: 10;
    text-align: center;
  }
  .nav-logout-btn {
    flex: 1;
  }
}
