body {
  background-color: white;
}

main {
  width: 450px;
  background-color: #EEE;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  background-color: tomato;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.nav-container .nav-profile-btn {
  flex: 1;
}

.nav-container .nav-greeting {
  flex: 10;
  text-align: center;
}

.nav-container .nav-logout-btn {
  flex: 1;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 3fr 3fr 1fr;
  grid-template-columns: auto;
  grid-template-areas: ". . . ." ". new new ." ". eat watch ." ". read buy ." ". uncat done ." ". . . .";
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.grid-container > *:not(.new-to-do) {
  border: 2px black solid;
  border-radius: 5px;
  background-color: white;
}

.grid-container form.new-to-do {
  grid-area: new;
  display: flex;
  justify-content: center;
}

.grid-container form.new-to-do > * {
  margin: 0 10px;
  border-radius: 5px;
}

.grid-container .eat {
  grid-area: eat;
}

.grid-container .watch {
  grid-area: watch;
}

.grid-container .read {
  grid-area: read;
}

.grid-container .buy {
  grid-area: buy;
}

.grid-container .uncat {
  grid-area: uncat;
}

.grid-container .done {
  grid-area: done;
}

.grid-container .list-title {
  text-align: center;
  border-bottom: 2px solid black;
}

.grid-container .list-item {
  border-bottom: 1px solid black;
}
