body {
  background-color: white;
}

main {
  width: 450px;
  background-color: #EEE;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  background-color: tomato;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.nav-container .nav-profile-btn {
  flex: 1;
}

.nav-container .nav-greeting {
  flex: 10;
  text-align: center;
}

.nav-container .nav-logout-btn {
  flex: 1;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 3fr 3fr 1fr;
  grid-template-columns: auto;
  grid-template-areas: ". . . ." ". new new ." ". eat watch ." ". read buy ." ". uncat done ." ". . . .";
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.grid-container > * {
  border: 1px red solid;
  border-radius: 5px;
}

.grid-container .new-to-do {
  grid-area: new;
  display: flex;
  justify-content: center;
}

.grid-container .new-to-do > * {
  margin: 0 10px;
}

.grid-container .eat {
  grid-area: eat;
}

.grid-container .watch {
  grid-area: watch;
}

.grid-container .read {
  grid-area: read;
}

.grid-container .buy {
  grid-area: buy;
}

.grid-container .uncat {
  grid-area: uncat;
}

.grid-container .done {
  grid-area: done;
}

/*.form-container{*/
/*display: flex;*/
/* .new-to-do{

  }
}

.all-lists{
  display: flex;
  flex-wrap: wrap;
  > *{
    border: 1px solid black;
    text-align: center;
  }
  .eat{
    flex: 1;
  }
  .watch{
    flex: 1;
  }
  .read{
    flex: 1;
  }
  .buy{
    flex: 1;
  }
  .uncat{
    flex: 1;
  }
  .done{
    flex: 1;
  }
}*/
/*@import "node_modules/bootstrap/scss/bootstrap";*/
