body {
  background-color: white;
}

main {
  width: 450px;
  background-color: #EEE;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  background-color: tomato;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.nav-container .nav-profile-btn {
  flex: 1;
}

.nav-container .nav-greeting {
  flex: 10;
  text-align: center;
}

.nav-container .nav-logout-btn {
  flex: 1;
}

.input_grid {
  display: grid;
  /*grid-template-rows: auto;*/
  grid-template-columns: auto 4fr 2fr auto;
  grid-template-areas: ". input btn .";
}

.lists-grid {
  display: grid;
  grid-template-rows: 15px 30px repeat(3, 150px);
  grid-template-columns: auto repeat(2, 200px) auto;
  grid-template-areas: ". . . ." "new new new new" ". eat watch ." ". read buy ." ". uncat finished ." ". . . .";
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  /* .new-to-do imported from partial */
}

.lists-grid > *:not(.new-to-do) {
  border: 2px black solid;
  border-radius: 5px;
  background-color: white;
}

.lists-grid .eat {
  grid-area: eat;
}

.lists-grid .watch {
  grid-area: watch;
}

.lists-grid .read {
  grid-area: read;
}

.lists-grid .buy {
  grid-area: buy;
}

.lists-grid .uncat {
  grid-area: uncat;
}

.lists-grid .finished {
  grid-area: finished;
}

.list-title {
  text-align: center;
  border-bottom: 2px solid black;
}

.list-items {
  height: 120px;
  overflow: auto;
}

.list-items .list-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 0 10px;
  position: relative;
}

.list-items .list-item .list-text {
  overflow: hidden;
  max-width: 60%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*.drop-down {
  display: none;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: -2px;
  left: 110px;
  .delete-option {
    border-top: 1px solid black;
  }
}*/
form.new-to-do {
  grid-area: new;
  /* needed for grid */
  display: flex;
  justify-content: center;
}

form.new-to-do > * {
  margin: 0 10px;
  border-radius: 5px;
}
