$pink: #E7717D;
$grey: #C2CAD0;
$dust: #C2B9B0;
$brun: #7E685A;
$lime: #AFD275;

$nav-height: 50px;
$box-height: 120px;

body {
  background-color: $pink;
}
main {
  width: 90vmin;
  background-color: $grey;
  margin: $nav-height auto 0;
  height: 100%;
  padding: 0 2em 25px;
}



@import 'partials/nav-bar';
@import 'partials/main';
